.footer {
    display: flex;

    max-width: 1000px;
    height: 100px;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    gap: 3rem;
}

.footer i{
    font-size: 1.5rem;
}

.footer i{
    padding: 1.5rem;
    background: var(--primary-2);
    border-radius: 6rem;

    transition: .3s;
}

.footer i:hover{
    background: var(--primary-1);
    color: var(--primary-2);
}

.footer {
    background: var(--primary-1);
}