.projetos{
    display: flex;
    justify-content: center;
    align-items: end;
}

.projeto {
    margin: 2rem;
    padding: 2.5rem;

    color: var(--primary-2);
    text-align: right;
}

.projeto h2 {
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    margin: 0 0 1rem 0; 
}

.projeto p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    margin: 0 0 1rem 0; 
}

@media (max-width: 600px){

    .projetos{
        flex-wrap: wrap;
    }

    .projeto {
        margin: .5rem;
        padding: 2.5rem;
    }
}
