.sobre_mim p+p {
  margin: 2.5rem 0 0 0;
}

.sobre_mim p{

  font-size: clamp(1.3rem, 1.5vw, 2rem);
}

.sobre_mim {
  display: grid;
  grid-template-columns: auto auto;

  gap: 25px;

}

.sobre_mim .btn-traducao + .btn-traducao{
  margin: 0 0 0 1rem;
}

.sobre_mim .btn-traducao{
  padding: 1% 2% ;

  margin: 2rem 0 0 0;

  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.sobre_mim .btn-traducao{
  background: var(--primary-4);

color: var(--primary-2);

border: none;
border-radius: .5rem;

letter-spacing: .2rem;

transition: background .3s;

cursor: pointer;
}

.sobre_mim .btn-traducao:hover{
  background: var(--primary-5);
}

.perfil {
  grid-row: 1 / span 2;
}

.minhas_informacoes {
  grid-column: 2;

  text-align: justify;

  color: var(--primary-2);
}

.sobre_mim .about {
  color: var(--primary-2);
  font-size: clamp(1rem, 2vw, 2rem); /* Define um tamanho de fonte responsivo */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0%;
  margin: 5px;
}

.sobre_mim .seta {
  max-width: 15px;
  margin: 1.1rem 0 0 0;
  animation: subirDescer 2s infinite alternate ease-in-out;
}

/* ******************fim informacoes**************** */



.borda {
  border: 1px solid white;
  border-radius: 15rem;
  /* borda arredondada */
  margin: 1rem 0 0 0;
  font-size: clamp(2rem, 1.5vw, 2rem);
}



.barras {
  display: flex;
  flex-direction: column;
  width: 75%;
  /* largura das barras */
  margin: 4rem 0 0 0;
}

.barra {
  height: 20px;
  /* altura das barras */
  border-radius: 1rem;
  /* borda arredondada */
  margin: 0;

  display: flex;
  justify-content: start;
  align-items: center;

  color: var(--primary-2);

  padding: 0 0 0 2rem;
}

.barra i {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  margin: 0 1rem 0 0;
}

.java {
  background: var(--linear-gradient);
  /* cor da barra php */
  width: 100%;
  /* porcentagem da barra php */
}

.php {
  background: var(--linear-gradient);
  /* cor da barra php */
  width: 75%;
  /* porcentagem da barra php */
}

.js {
  background: var(--linear-gradient);
  /* cor da barra js */
  width: 55%;
  /* porcentagem da barra js */
}

.react {
  background: var(--linear-gradient);
  /* cor da barra html5 */
  width: 45%;
  /* porcentagem da barra html5 */
}

.node {
  background: var(--linear-gradient);
  /* cor da barra css3 */
  width: 45%;
  /* porcentagem da barra css3 */
}

/* Para celular pequeno */
@media only screen and (max-width: 600px) {
  .sobre_mim {
    height: 150vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }

  .barras {
  
    width: 85%;
 
  }

  .barra{
    padding: 0 0 0 1rem;
  }

  .my_projects {
    left: 194px;
  }
}
