.sobre_mim p+p {
  margin: 2.5rem 0 0 0;
}

.sobre_mim p{

  font-size: clamp(1.3rem, 2vw, 2.5rem);
}

.sobre_mim {
  display: grid;
  grid-template-columns: auto auto;

  gap: 50px;

}

.perfil {
  grid-row: 1 / span 2;
}

.minhas_informacoes {
  grid-column: 2;

  text-align: justify;

  color: var(--primary-2);
}

/* ******************fim informacoes**************** */



.borda {
  border: 1px solid white;
  border-radius: 15rem;
  /* borda arredondada */
  margin: 1rem 0 0 0;
  font-size: clamp(2rem, 2vw, 3rem);
}



.barras {
  display: flex;
  flex-direction: column;
  width: 75%;
  /* largura das barras */
  margin: 4rem 0 0 0;
}

.barra {
  height: 20px;
  /* altura das barras */
  border-radius: 1rem;
  /* borda arredondada */
  margin: 0;

  display: flex;
  justify-content: start;
  align-items: center;

  color: var(--primary-2);

  padding: 0 0 0 2rem;
}

.barra i {
  font-size: clamp(1.3rem, 2vw, 2.5rem);
  margin: 0 1rem 0 0;
}

.java {
  background: var(--linear-gradient);
  /* cor da barra php */
  width: 100%;
  /* porcentagem da barra php */
}

.php {
  background: var(--linear-gradient);
  /* cor da barra php */
  width: 75%;
  /* porcentagem da barra php */
}

.js {
  background: var(--linear-gradient);
  /* cor da barra js */
  width: 25%;
  /* porcentagem da barra js */
}

.html5 {
  background: var(--linear-gradient);
  /* cor da barra html5 */
  width: 25%;
  /* porcentagem da barra html5 */
}

.css3 {
  background: var(--linear-gradient);
  /* cor da barra css3 */
  width: 25%;
  /* porcentagem da barra css3 */
}

/* Para celular pequeno */
@media only screen and (max-width: 600px) {
  .sobre_mim {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    padding: 2rem;
  }

  .sobre_mim img{
    max-width: 250px;
  }

  .barras {
  
    width: 85%;
 
  }

  .barra{
    padding: 0 0 0 1rem;
  }
}

/* Para celular médio */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sobre_mim {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Para celular grande */
@media only screen and (min-width: 1025px) {
  .sobre_mim {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
}
